<div class="row">
  <%= simple_form_for  @user do |f| %>
      <%= f.input :name, autofocus: true %>
      <%= f.input :a, label: 'attr_A', placeholder: 'Axx, example A13, if this is not present then it will be ignore' %>
      <%= f.input :b, label: 'attr_B', placeholder: 'Bxx, example B29, if this is not present then it will be ignore' %>
      <%= f.input :c, label: 'attr_C', placeholder: 'Cxx, example C6, if this is not present then it will be ignore' %>
      <%= f.button :submit, 'Do the search' %>
  <% end %>
</div>
<div class="row">
  <h1>This are the Campaigns to be use</h1>
  <% if @campaigns.blank? %>
      <div class="alert alert-danger">
        Before you can use this manual search you have to load a json file first, go load one
        <%= link_to 'Here', import_camp_path %>
      </div>
  <% else %>
  <span id="campaigns-url">
    Came from here <%= link_to 'Here', import_camp_path %>
</span>
  <% end %>
  <pre id="campaigns">
    <%= JSON.pretty_generate(@campaigns) %>
</pre>
</div>