<div class="col-md-5">

  <h1>This is the User used</h1>
  <span>
    Came from here <%= link_to 'user', users_path, target: '_blank' %>
  </span>
  <pre id="user">
    <%= JSON.pretty_generate(@used_user) %>
  </pre>

  <h1>This are the Campaigns used</h1>
  <span id="campaigns-url">
    Came from here <%= link_to 'Here', import_camp_path %>
  </span>
  <pre id="campaigns">
    <%= JSON.pretty_generate(@used_campaigns) %>
  </pre>
</div>

<div class="col-md-7">

  <span id="time">
    <%= "Time elapsed #{@last_diff} milliseconds" %>
  </span>

  <h1>This Campaign with the highest price</h1>
  <pre id="highest_price">
    <%= JSON.pretty_generate(@highest_price) %>
  </pre>

  <h1>This are the Targeted User </h1>
  <pre id="targeted_user">
    <%= JSON.pretty_generate(@targeted_user) %>
  </pre>

</div>

