<div class="row">
  <div class="col-md-6">
<%= form_tag @campaign, :multipart => true do %>
    <label for="file">Upload text File</label> <%= file_field_tag "file", class: 'btn btn-default btn-file' %>
    <%= submit_tag 'submit', class: 'btn btn-default' %>
<% end %>
  </div>
  <div class="col-md-5 info instructions">
    <h4>Do you want to generate another json file?</h4>
    <br>
    Go Here <%= link_to 'Here', 'https://mogamescampaigns.herokuapp.com/campaigns?x=50&y=10&z=1000', target: :blank %>
    <br>
    Remember to change Attrs 'X', 'Y' and 'Z' according to what you want, then right click on the document and save as,
    give it a nice cool name and then come back here and test it out!
  </div>
</div>

<h1>Current Campaigns file loaded</h1>
<pre id="result">
  <%= JSON.pretty_generate(@campaign.value) %>
</pre>