<!DOCTYPE html>
<html>
<head>
  <title>Performance Test Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Juan Sebastian Velez</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if params[:controller] == 'campaigns' %>">
          <%= link_to 'Import Campaign File', import_camp_path %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'search' && params[:action] == 'index' %>">
          <%= link_to 'Manual Search', search_index_path %>
        </li>
        <li>
          <%= link_to 'Do the Auto Search', search_auto_path, target: :blank %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'search' && params[:action] == 'last_auto_search' %>">
          <%= link_to 'Show last Auto Search Result', last_auto_search_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |name, msg| %>

      <%= content_tag(:div, content_tag(:a, 'X', 'data-dismiss': "alert", class: "close") + msg, class: "alert alert-#{name}") %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
